<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" align="center">
        <h1>add user</h1>
        <table align="center" border="1">
            <tr>
                <td>name :</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>email :</td>
                <td><input type="text" name="useremail"></td>
            </tr>
            <tr>
                <td>password :</td>
                <td><input type="text" name="userpassword"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>

</html>