<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Riho - Premium Admin Template</title>
  <!-- link favicon  -->
  <link rel="shortcut icon" href="image/logo-icon.png" type="image/x-icon">
  <!-- link font-awesome  -->
  <link rel="stylesheet" href="css/all.min.css">
  <!-- link fonts  -->
  <link rel="stylesheet" href="css/fonts.css">
  <!-- link slideber css  -->
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css">
  <link rel="stylesheet" href="https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css">
  <!-- link css  -->
  <link rel="stylesheet" href="css/style.css">
  <!-- media  -->
  <link rel="stylesheet" href="css/media.css">

</head>

<body>
  <!-- sidebar start  -->
  <div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <img src="image/logo.png " alt="">
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
              <li class="menu-header"><span> PINNED</span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-circle-dot"></i>
                  </span>
                  <span class="menu-title"> Project</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Project List</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Create New</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul>
              <li class="menu-header"><span> GENERAL </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-house"></i></span>
                  <span class="menu-title">Dashboards</span></a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item"><a href="#"><span class="menu-title">Default</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Ecommerce</span></a></li>
                    <li class="menu-item sub-menu"><a href="#"> <span class="menu-title">Project</span></a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Input</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a href="#">
                              <span class="menu-title">Select</span>
                            </a>
                          </li>
                          <li class="menu-item sub-menu">
                            <a href="#">
                              <span class="menu-title">More</span>
                            </a>
                            <div class="sub-menu-list">
                              <ul>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">CheckBox</span>
                                  </a>
                                </li>
                                <li class="menu-item">
                                  <a href="#">
                                    <span class="menu-title">Radio</span>
                                  </a>
                                </li>
                                <li class="menu-item sub-menu">
                                  <a href="#">
                                    <span class="menu-title">Want more ?</span>
                                    <span class="menu-suffix">&#x1F914;</span>
                                  </a>
                                  <div class="sub-menu-list">
                                    <ul>
                                      <li class="menu-item">
                                        <a href="#">
                                          <span class="menu-prefix">&#127881;</span>
                                          <span class="menu-title">You made it </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-qrcode"></i>
                  </span>
                  <span class="menu-title"> Widgets</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">General</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Chart</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-window-maximize"></i>
                  </span>
                  <span class="menu-title"> Page Layout</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Boxed</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">RTL</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Dark Layout</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Hide Nav Scroll</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-icon">
                        <i class="ri-global-fill"></i>
                      </span>
                      <span class="menu-title">Maps</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Google maps</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Open street map</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li> -->
              <!-- <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-icon">
                       <i class="ri-paint-brush-fill"></i>
                      </span>
                      <span class="menu-title">Theme</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Dark</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Light</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li> -->
            </ul>
            <ul>
              <li class="menu-header"><span> APPLICATIONS </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-folder-open"></i></span>
                  <span class="menu-title">File Manager</span></a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-cube"></i>
                  </span>
                  <span class="menu-title"> Kanban Board</span>
                </a>
                <div class="sub-menu-list">

                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-basket-shopping"></i>
                  </span>
                  <span class="menu-title"> Ecommerce </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Add Products</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Product</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Category Page</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Product Page</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Product Page</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Product List</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Payment Details</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Order History</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Invoices</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Cart</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Wishlist</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Checkout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-regular fa-envelope"></i></span>
                  <span class="menu-title"> Letter Box</span></a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-comments"></i>
                  </span>
                  <span class="menu-title"> Chat </span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Private Chat</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Group Chat</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-user"></i>
                  </span>
                  <span class="menu-title"> Users</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Users Profile</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Users Edit</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-regular fa-heart"></i></span>
                  <span class="menu-title"> Bookmarks</span></a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-phone"></i>
                  </span>
                  <span class="menu-title"> Contacts</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-receipt"></i>
                  </span>
                  <span class="menu-title">Tasks</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-calendar"></i>
                  </span>
                  <span class="menu-title"> Calendar</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-brands fa-app-store"></i>
                  </span>
                  <span class="menu-title"> Social App</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <span class="menu-title"> To-Do</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                  <span class="menu-title"> Search Result</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
            </ul>
            <ul>
              <li class="menu-header"><span> FORMS & TABLE </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-brands fa-wpforms"></i></span>
                  <span class="menu-title"> Forms</span></a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item"><a href="#"><span class="menu-title">Form Controls</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Form Widgets</span></a></li>
                    <li class="menu-item sub-menu"><a href="#"> <span class="menu-title">Form Layout</span></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-table-cells"></i></span>
                  <span class="menu-title"> Tables</span></a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item"><a href="#"><span class="menu-title">Bootstrap Tables </span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Data Tables</span></a></li>
                    <li class="menu-item sub-menu"><a href="#"> <span class="menu-title">Ex. Data Tables</span></a>
                    </li>
                  </ul>
                </div>
              </li>

              <!-- <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-icon">
                        <i class="ri-global-fill"></i>
                      </span>
                      <span class="menu-title">Maps</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Google maps</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Open street map</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li> -->
              <!-- <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-icon">
                       <i class="ri-paint-brush-fill"></i>
                      </span>
                      <span class="menu-title">Theme</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Dark</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Light</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li> -->
            </ul>
            <ul>
              <li class="menu-header"><span> COMPONENTS </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-crosshairs"></i></span>
                  <span class="menu-title"> Ui Kits</span></a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item"><a href="#"><span class="menu-title">Typography</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Avatars</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Helper Classes</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Grid</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Tag & Pills</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Modal</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Alert</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Popover</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Tooltip</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Dropdown</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Accordion</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Tabs</span></a></li>
                    <li class="menu-item"><a href="#"> <span class="menu-title">Lists</span></a></li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-basket-shopping"></i>
                  </span>
                  <span class="menu-title"> Bonus Ui</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Scrollable</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Tree View</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Toasts</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Rating</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Dropzone</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Tour</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-cloud-showers-water"></i>
                  </span>
                  <span class="menu-title"> Animation</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Animate</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Scroll Reveal</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">AOS Animation</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Tilt Animation</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-location-crosshairs"></i>
                  </span>
                  <span class="menu-title"> Icons</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Flag Icon</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Fontawesome Icon</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-paper-plane"></i>
                  </span>
                  <span class="menu-title"> Buttons</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Default Style</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Flat Style</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-chart-simple"></i>
                  </span>
                  <span class="menu-title">Charts</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Echarts</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Apex Chart</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul>
              <li class="menu-header"><span> PAGES </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-pager"></i></span>
                  <span class="menu-title"> Landing Page</span></a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-table-columns"></i>
                  </span>
                  <span class="menu-title"> Sample Page</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-globe"></i>
                  </span>
                  <span class="menu-title">Internationalization</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                  </span>
                  <span class="menu-title"> Starter Kit</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-square"></i>
                  </span>
                  <span class="menu-title"> Others</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Default Style</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Flat Style</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul>
              <li class="menu-header"><span> MISCELLANEOUS </span></li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon"><i class="fa-solid fa-image"></i></span>
                  <span class="menu-title"> Gallery</span></a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-brands fa-blogger"></i>
                  </span>
                  <span class="menu-title"> Blog</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-circle-info"></i>
                  </span>
                  <span class="menu-title"> FAQ</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-cube"></i>
                  </span>
                  <span class="menu-title"> Job Search</span>
                </a>
                <div class="sub-menu-list"></div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-solid fa-wind"></i>
                  </span>
                  <span class="menu-title"> Learning</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Learning List</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Detailed Course</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-map"></i>
                  </span>
                  <span class="menu-title"> Maps</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Maps JS</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Vector Maps</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item sub-menu">
                <a href="#">
                  <span class="menu-icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </span>
                  <span class="menu-title"> Editors</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Quill Editor</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">ACE Code Editor</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

          </nav>
        </div>
      </div>
      <div>
        <a id="btn-toggle" href="#" class="sidebar-toggler break-point-sm"><i class="ri-menu-line ri-xl"></i></a>
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>

    <div class="layout">
      <main class="content">
        <!-- nav start  -->
        <div class="wrapper ">
          <div class="navbar">
          
           <div class="w-12 d-flex justify-xxl-align-items">
           <div class="w-5">
             <div class="navbar_left">
              <div class="logo  align-items ">
                <div class="d-flex">
                  <h4>Welcome Alex</h4>
                  <img src="image/hand.gif" width="26" height="26" alt="">
                </div>
                <span>Here’s what’s happening with your store today.</span>
              </div>
            </div>
           </div>
            <div class="w-7 d-flex justify-xxl-end">
            

              <div class="navbar_right">
                <div id="search-wrapper" >
                  <i class="search-icon fas fa-search"></i>
                  <input type="text" id="search" placeholder="Search">
                </div>
                <div class="book">
                 <div class="star">
                  <i class="fa-regular fa-star"></i>
                 </div>
                  <div class="drop-down1">
                    <a href="#" style="text-align: center;">
                      <h2>Bookmark</h2>
                    </a>
                    <ul class="d-flex align-items justify-center ">
                      <li>
                        <a href="#"><i class="fa-brands fa-wpforms"></i><br><br>
                          <a href="#"><p style="text-align: center;">forms</p></a>
                        </a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-solid fa-users"></i><br><br>
                          <a href="#"><p style="text-align: center;">profile</p></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-solid fa-table"></i><br><br>
                          <a href="#"><p style="text-align: center;">tables</p></a>
                      </li>
                      
                     
                    
                    </ul>
                    <div class="add">       
                        <a href="#"><p>add new bookmark</p></a>
                    </div>
                  </div>
                    
                  
                   
                </div>
                <div class="notifications">
                  <div class="icon_wrap"><i class="far fa-bell"></i></div>
  
                  <div class="notification_dd">
                    <ul class="notification_ul">
                      <li class="starbucks success">
                        <div class="notify_icon">
                          <img src="image/receiver-img.jpg" alt="">
                        </div>
                        <div class="notify_data">
                          <div class="title">
                            Lorem, ipsum dolor.
                          </div>
                          <div class="sub_title">
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
                        </div>
                        <div class="notify_status">
                          <p>Success</p>
                        </div>
                      </li>
                      <li class="baskin_robbins failed">
                        <div class="notify_icon">
                          <img src="image/5.jpg" alt="">
                        </div>
                        <div class="notify_data">
                          <div class="title">
                            Lorem, ipsum dolor.
                          </div>
                          <div class="sub_title">
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
                        </div>
                        <div class="notify_status">
                          <p>Failed</p>
                        </div>
                      </li>
                      <li class="mcd success">
                        <div class="notify_icon">
                          <img src="image/6.jpg" alt="">
                        </div>
                        <div class="notify_data">
                          <div class="title">
                            Lorem, ipsum dolor.
                          </div>
                          <div class="sub_title">
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
                        </div>
                        <div class="notify_status">
                          <p>Success</p>
                        </div>
                      </li>
                      <li class="pizzahut failed">
                        <div class="notify_icon">
                          <img src="image/50.png" alt="">
                        </div>
                        <div class="notify_data">
                          <div class="title">
                            Lorem, ipsum dolor.
                          </div>
                          <div class="sub_title">
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
                        </div>
                        <div class="notify_status">
                          <p>Failed</p>
                        </div>
                      </li>
                      <li class="kfc success">
                        <div class="notify_icon">
                        <img src="image/28.png" alt="">
                        </div>
                        <div class="notify_data">
                          <div class="title">
                            Lorem, ipsum dolor.
                          </div>
                          <div class="sub_title">
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
                        </div>
                        <div class="notify_status">
                          <p>Success</p>
                        </div>
                      </li>
                      <li class="show_all">
                        <p class="link">Show All Activities</p>
                      </li>
                    </ul>
                  </div>
  
                </div>
                <div class="profile">
                  <div class="icon_wrap">
                    <img src="image/profile.png" alt="profile_pic">
                    <a class="name">Alex Mora <br>
                      <p>Admin</p>
                    </a>
                    <i class="fas fa-chevron-down"></i>
                  </div>
  
                  <div class="profile_dd">
                    <ul class="profile_ul">
                      <li class="profile_li"><a class="profile" href="#"><span class="picon"><i
                              class="fas fa-user-alt"></i>
                          </span>Profile</a>
                      </li>
                      <li><a class="address" href="#"><span class="picon"><i
                              class="fa-regular fa-envelope"></i></span>Inbox</a></li>
                      <li><a class="settings" href="#"><span class="picon"><i class="fas fa-cog"></i></span>Settings</a>
                      </li>
                      <li><a class="logout" href="#"><span class="picon"><i
                              class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
           </div>
          
            
            </div>
         
        </div>
        <!-- nav end  -->
        <!-- header start  -->
        <div class="default ">
         <div class="w-12 d-flex">
          <div class="w-6 d-flex justify-sm-center justify-lg-start">
            <span>
              <h4>
                Default
              </h4>
            </span>
          </div>
          <div class="w-6 d-flex justify-end justify-sm-center justify-lg-end">
            <p> <a href="#"><i class="fa-solid fa-house"></i></a>/ Dashboard
              / Default</p>
          </div>
         </div>

        </div>
        <!-- header end  -->
        <!-- Revenue Growth start  -->
        <section>
          <div class="d-flex">
            <div class="w-12 w-xl-8 revenue">
              <div class="growth d-flex justify-between align-items justify-sm-center justify-lg-between ">
             
                <h4>Revenue Growth</h4> 
                <div class="d-flex  align-items justify-sm-center ">
                  <span><i class="fa-solid fa-circle" style="color: #ffae36;"></i>Marketing Sale</span>
                  <span><i class="fa-solid fa-circle" style="color: #33186b;"></i>Online Sale</span>
                  <div class="menu-wrap">
                    <ul class="menu">
                        <li class="menu-it">
                           <div class="d-flex justify-between">
                            <div class="i">
                              <a href="#">This Year
                            </div>
                            <i class="fa-solid fa-angle-down" style="color: #000000;"></i></a>
                           </div>
                            <ul class="drop-menu">
                                <li class="drop-menu-it">
                                    <a href="#">Month</a>
                                </li>
                                <li class="drop-menu-it">
                                    <a href="#">Week</a>
                                </li>
                                <li class="drop-menu-it">
                                    <a href="#">Today</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
               
              </div>

              <div class="g-map d-flex">
                <div class="w-12 w-lg-8 ">
                  <div id="container"></div>
                </div>
                <div class="w-12  w-lg-4 ">
                  <ul>
                    <li><span>TOTAL SALES</span>
                      <h3>$56.265.08</h3>
                      <p>Compared to (+40.15% than)</p>
                    </li>
                    <li><span>TOTAL PURCHASE</span>
                      <h3>$42,256.26</h3>
                      <p>Compared to <span>(-20.25% than)</span></p>
                    </li>
                    <li><span>TOTAL RETURNS</span>
                      <h3>$5,215.62</h3>
                      <p>Compared to (+18.15% than)</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="w-12 w-xl-4">
              <div class="boost">
                <h2>Boost up your sale</h2>
                <p>by upgrading your account you can <br> increase your sale by 30% more.</p>
                <a href="#">Upgrade Now</a>
              </div>


              <div class="Deliverie ">
                <div class="d-flex dot justify-between items-center">
                  <h2>Deliveries</h2>
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="Deliveries d-flex align-items">

                  <div class="w-4  d-flex justify-center justify-between w-xl-4">
                    <p>Particular</p>
                  </div>
                  <div class="w-4  d-flex justify-center justify-between justify-sm-between  justify-lg-center  w-xl-4  justify-xxl-between ">
                    <p> Percentage</p>
                  </div>
                  <div class="w-4  d-flex justify-sm-between  w-xl-4">
                    <p> Total Amount</p>
                  </div>


                  <div class="w-4 ">
                    <p>On Time Delivery</p>
                  </div>


                  <div class="w-4  d-flex justify-center  justify-sm-center justify-lg-end justify-xl-center w-xl-2  w-xxl-2 justify-xxl-between ">
                    <p>80%</p>
                  </div>
                  <div class="w-4  d-flex justify-center justify-lg-end justify-sm-end justify-lg-center  w-xxl-5 ">
                    <p>$45,452.23</p>
                  </div>



                  <div class="w-4  d-flex justify-center">
                    <a href="#">Delayed Delivery</a>
                  </div>
                  <div class="w-4 d-flex justify-center justify-lg-center justify-lg-end  w-xl-2  justify-xl-center w-xxl-2 ">
                    <p>15%</p>
                  </div>
                  <div class="w-4 d-flex justify-center  justify-lg-end justify-sm-end  w-xxl-5 ">
                    <p>$15,256.23</p>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- Revenue Growth end  -->
        <!-- Product start  -->
        <section class="d-flex">
          <div class="w-12 w-xxl-4">
            <div class="product">
              <div class="d-flex car justify-between">
                <h2>Top Product</h2>
                <a href="#">View All</a>
              </div>
              <div class="d-flex product-content align-items">
                <div class="w-2">
                  <div class="img">
                    <img src="image/1.png" width="58" height="60" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between">
                    <div class="space">
                      <p class="paragraph">SKU90400</p>
                      <a href="#">Huawai Smart...</a>
                      <p>$39.02</p>
                    </div>
                    <div class="information" style="text-align:end;">
                      <p>QTY : <span>12</p></span>
                      <p>Revenue : <span>$51</p></span>
                      <p>Profit: <span>$15</p></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex product-content align-items">
                <div class="w-2">
                  <div class="img">
                    <img src="image/2.png" width="58" height="60" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between">
                    <div class="space">
                      <p class="paragraph">SKU78599</p>
                      <a href="#">Noise - Wirele...</a>
                      <p>$45.26</p>
                    </div>
                    <div class="information" style="text-align:end;">
                      <p>QTY : <span>19</p></span>
                      <p>Revenue : <span>$8</p></span>
                      <p>Profit : <span>$9</p></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex product-content align-items">
                <div class="w-2">
                  <div class="img">
                    <img src="image/3.png" width="58" height="60" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between">
                    <div class="space">
                      <p class="paragraph">SKU78599</p>
                      <a href="#">Men & Women...</a>
                      <p>$45.62</p>
                    </div>
                    <div class="information" style="text-align:end;">
                      <p>QTY : <span>9</p></span>
                      <p>Revenue : <span>$15</p></span>
                      <p>Profit : <span>$18</p></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex product-content align-items">
                <div class="w-2">
                  <div class="img">
                    <img src="image/4.png" width="58" height="60" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between">
                    <div class="space">
                      <p class="paragraph">SKU78596</p>
                      <a href="#">Anime White...</a>
                      <p>$589.26</p>
                    </div>
                    <div class="information" style="text-align:end;">
                      <p>QTY : <span>9</p></span>
                      <p>Revenue : <span>$7</p></span>
                      <p>Profit : <span>$42</p></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-12 w-xxl-3">
            <div class="user">
              <div class="d-flex new justify-between">
                <h2>New User</h2>
                <a href="#">View All</a>
              </div>
              <div class="d-flex view align-items">
                <div class="w-2 src">
                  <div class="img">
                    <img src="image/22.png" width="40" height="40" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between justify-content items-center">
                    <div>
                      <a href="#">Smith John</a>
                      <p>India</p>
                    </div>
                    <div class="data">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex view align-items">
                <div class="w-2 src">
                  <div class="img">
                    <img src="image/28.png" width="40" height="40" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between justify-content items-center">
                    <div>
                      <a href="#"> Robert Fox</a>
                      <p>Afghanistan</p>
                    </div>
                    <div class="data">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex view align-items">
                <div class="w-2 src">
                  <div class="img">
                    <img src="image/26.png" width="40" height="40" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between justify-content items-center">
                    <div>
                      <a href="#">Darlene Robtson</a>
                      <p>Georgia
                      </p>
                    </div>
                    <div class="data">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex view align-items">
                <div class="w-2 src">
                  <div class="img">
                    <img src="image/24.png" width="40" height="40" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between justify-content items-center">
                    <div>
                      <a href="#">Floyd Miles</a>
                      <p>Pakistan</p>
                    </div>
                    <div class="data">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex view align-items">
                <div class="w-2 src">
                  <div class="img">
                    <img src="image/49.png" width="40" height="40" alt="">
                  </div>
                </div>
                <div class="w-10">
                  <div class="d-flex justify-between justify-content items-center">
                    <div>
                      <a href="#">Jacob Jones</a>
                      <p>Monaco</p>
                    </div>
                    <div class="data">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="w-12 w-xxl-5 team">
            <div class="d-flex move justify-between">
              <h2>Team Activity</h2>
              <a href="#">View All</a>
            </div>
            <div class="w-12  d-flex">
              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/50.png" alt="">
                </div>
              </div>
             

              <div class="w-4 activity d-flex align-items justify-center ">
                <div>
                  <span>5 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p> Floyd has moved to the warehouse.</p>
                </div>
              </div>

              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/51.png" alt="">
                </div>
              </div>

              <div class="w-4 activity d-flex align-items justify-center ">
                <div>
                  <span>6 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p> Ralph has solved Mr.williams project.</p>
                </div>
              </div>

              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/33.png" alt="">
                </div>
              </div>

              <div class="w-4 activity d-flex align-items justify-center ">
                <div>
                  <span>10 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p>Esther has changed his to active, now.</p>
                </div>
              </div>

              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/52.png" alt="">
                </div>
              </div>

              <div class="w-4 activity d-flex align-items justify-center ">
                <div>
                  <span>11 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p>Jacob has make changes in sold it.</p>
                </div>
              </div>

              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/53.png" alt="">
                </div>
              </div>

              <div class="w-4 activity d-flex align-items justify-center">
                <div>
                  <span>12 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p>Theresa has complete old task and new one.</p>
                </div>
              </div>

              <div class="w-3 d-flex align-items justify-center">
                <div class="png">
                  <img src="image/54.png" alt="">
                </div>
              </div>

              <div class="w-4 activity d-flex align-items justify-center">
                <div>
                  <span>12 min ago</span>
                </div>
              </div>

              <div class="w-5 d-flex align-items justify-center">
                <div>
                  <p>Annette has send all the stock to department.</p>
                </div>
              </div>

            </div>
          </div>


        </section>
        <!-- Product end  -->

        <!-- bar chart start  -->
        <section class="bar-chart d-flex">
          <div class="w-12 w-xxl-4 day">

            <div class="visit d-flex justify-between">
              <h4>User Visits by Day</h4>

              <div class="circle align-items">
                <i class="fa-solid fa-circle"></i> Chrome
                <i class="fa-solid fa-circle"></i> Firefox
                <i class="fa-solid fa-circle"></i> Safari
              </div>
            </div>

            <div class="bar">
              <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

              <canvas id="horizontalBarChartCanvas"></canvas>
            </div>

            <div class="main-footer">
              <div class="d-flex justify-between">
                <div class="day">
                  <a href="#">Most Visited Day</a>
                  <p>Total 59.6k visits on Sunday</p>
                </div>
                <div class=" d-flex justify-between align-items">
                  <div class="arrow d-flex align-items">
                    <i class="fa-solid fa-chevron-right"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>


          
          <div class="w-12 w-xxl-5">
            <div class="map">
              <div class="start d-flex dot justify-between items-center">
                <h4>Latest Transaction</h4>
                <a href="#">View All</a>
              </div>

              <div class="date d-flex align-items">

                <div class="w-12 d-flex color">
                  <div class="w-3  d-flex justify-center justify-between">
                    <p>Name</p>
                  </div>
                  <div class="w-3  d-flex justify-center justify-between">
                    <p>Date</p>
                  </div>
                  <div class="w-3  d-flex justify-center justify-between">
                    <p> Amount</p>
                  </div>
                  <div class="w-3  d-flex justify-center justify-between">
                    <p>Status</p>
                  </div>
                </div>



                <div class="amount">
                  <a href="#">Darrell Steward</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>16 Nov, 2024</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p> $456.23</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <h4>Complete</h4>
                </div>


                <div class="amount d-flex justify-between">
                  <a href="#">&nbsp;Floyd &nbsp; Miles&nbsp; &nbsp;</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>22 Jan, 2024 </p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p>$550.73</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <span>Failed</span>
                </div>


                <div class="amount">
                  <a href="#">Ralph Edwards</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>31 Dec, 2024</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p> $785.26</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <h4>Complete</h4>
                </div>

                <div class="amount d-flex justify-between">
                  <a href="#">&nbsp;Jerome &nbsp; Bell&nbsp; &nbsp;</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>16 Nov, 2024</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p>$458.14</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <span>Failed</span>
                </div>



                <div class="amount d-flex justify-between">
                  <a href="#">Theresa&nbsp; Webb&nbsp;&nbsp;</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>16 Feb, 2024</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p> $263.24</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <h4>Complete</h4>
                </div>



                <div class="amount d-flex justify-between">
                  <a href="#">Courtney Henry</a>
                </div>


                <div class="w-3 amount d-flex justify-center ">
                  <p>01 Nov, 2024</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <p>$785.14</p>
                </div>
                <div class="w-3 amount d-flex justify-center ">
                  <h4>Complete</h4>
                </div>




              </div>
            </div>

          </div>
          <div class="w-12 w-xxl-3">
            <div class="best">
              <h2>Best Selling Product</h2>
              <div>
                <script src="//cdn.amcharts.com/lib/4/core.js"></script>
                <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
                <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
                <div id="chartdiv"></div>
              </div>
            </div>
            
          </div>

        </section>
        <!-- bar chart end  -->





      </main>
      <!-- footer start  -->
      <section class="last-footer ">
        <div class="w-12 d-flex justify-center">
          <p>Copyright 2024 © Riho theme by pixelstrap </p>
        </div>
      </section>
      <!-- footer end  -->
    </div>
  </div>
  <!-- sidebar end  -->

  <!-- jquery link  -->
  <script src="jquery/jquery-3.7.1.min.js"></script>
  <!-- sidebar script  -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <!-- nav script  -->
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- chart 2  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    const ANIMATION_DURATION = 300;

    const SIDEBAR_EL = document.getElementById("sidebar");

    const SUB_MENU_ELS = document.querySelectorAll(
      ".menu > ul > .menu-item.sub-menu"
    );

    const FIRST_SUB_MENUS_BTN = document.querySelectorAll(
      ".menu > ul > .menu-item.sub-menu > a"
    );

    const INNER_SUB_MENUS_BTN = document.querySelectorAll(
      ".menu > ul > .menu-item.sub-menu .menu-item.sub-menu > a"
    );

    class PopperObject {
      instance = null;
      reference = null;
      popperTarget = null;

      constructor(reference, popperTarget) {
        this.init(reference, popperTarget);
      }

      init(reference, popperTarget) {
        this.reference = reference;
        this.popperTarget = popperTarget;
        this.instance = Popper.createPopper(this.reference, this.popperTarget, {
          placement: "right",
          strategy: "fixed",
          resize: true,
          modifiers: [
            {
              name: "computeStyles",
              options: {
                adaptive: false
              }
            },
            {
              name: "flip",
              options: {
                fallbackPlacements: ["left", "right"]
              }
            }
          ]
        });

        document.addEventListener(
          "click",
          (e) => this.clicker(e, this.popperTarget, this.reference),
          false
        );

        const ro = new ResizeObserver(() => {
          this.instance.update();
        });

        ro.observe(this.popperTarget);
        ro.observe(this.reference);
      }

      clicker(event, popperTarget, reference) {
        if (
          SIDEBAR_EL.classList.contains("collapsed") &&
          !popperTarget.contains(event.target) &&
          !reference.contains(event.target)
        ) {
          this.hide();
        }
      }

      hide() {
        this.instance.state.elements.popper.style.visibility = "hidden";
      }
    }

    class Poppers {
      subMenuPoppers = [];

      constructor() {
        this.init();
      }

      init() {
        SUB_MENU_ELS.forEach((element) => {
          this.subMenuPoppers.push(
            new PopperObject(element, element.lastElementChild)
          );
          this.closePoppers();
        });
      }

      togglePopper(target) {
        if (window.getComputedStyle(target).visibility === "hidden")
          target.style.visibility = "visible";
        else target.style.visibility = "hidden";
      }

      updatePoppers() {
        this.subMenuPoppers.forEach((element) => {
          element.instance.state.elements.popper.style.display = "none";
          element.instance.update();
        });
      }

      closePoppers() {
        this.subMenuPoppers.forEach((element) => {
          element.hide();
        });
      }
    }

    const slideUp = (target, duration = ANIMATION_DURATION) => {
      const { parentElement } = target;
      parentElement.classList.remove("open");
      target.style.transitionProperty = "height, margin, padding";
      target.style.transitionDuration = `${duration}ms`;
      target.style.boxSizing = "border-box";
      target.style.height = `${target.offsetHeight}px`;
      target.offsetHeight;
      target.style.overflow = "hidden";
      target.style.height = 0;
      target.style.paddingTop = 0;
      target.style.paddingBottom = 0;
      target.style.marginTop = 0;
      target.style.marginBottom = 0;
      window.setTimeout(() => {
        target.style.display = "none";
        target.style.removeProperty("height");
        target.style.removeProperty("padding-top");
        target.style.removeProperty("padding-bottom");
        target.style.removeProperty("margin-top");
        target.style.removeProperty("margin-bottom");
        target.style.removeProperty("overflow");
        target.style.removeProperty("transition-duration");
        target.style.removeProperty("transition-property");
      }, duration);
    };
    const slideDown = (target, duration = ANIMATION_DURATION) => {
      const { parentElement } = target;
      parentElement.classList.add("open");
      target.style.removeProperty("display");
      let { display } = window.getComputedStyle(target);
      if (display === "none") display = "block";
      target.style.display = display;
      const height = target.offsetHeight;
      target.style.overflow = "hidden";
      target.style.height = 0;
      target.style.paddingTop = 0;
      target.style.paddingBottom = 0;
      target.style.marginTop = 0;
      target.style.marginBottom = 0;
      target.offsetHeight;
      target.style.boxSizing = "border-box";
      target.style.transitionProperty = "height, margin, padding";
      target.style.transitionDuration = `${duration}ms`;
      target.style.height = `${height}px`;
      target.style.removeProperty("padding-top");
      target.style.removeProperty("padding-bottom");
      target.style.removeProperty("margin-top");
      target.style.removeProperty("margin-bottom");
      window.setTimeout(() => {
        target.style.removeProperty("height");
        target.style.removeProperty("overflow");
        target.style.removeProperty("transition-duration");
        target.style.removeProperty("transition-property");
      }, duration);
    };

    const slideToggle = (target, duration = ANIMATION_DURATION) => {
      if (window.getComputedStyle(target).display === "none")
        return slideDown(target, duration);
      return slideUp(target, duration);
    };

    const PoppersInstance = new Poppers();

    /**
     * wait for the current animation to finish and update poppers position
     */
    const updatePoppersTimeout = () => {
      setTimeout(() => {
        PoppersInstance.updatePoppers();
      }, ANIMATION_DURATION);
    };

    /**
     * sidebar collapse handler
     */
    document.getElementById("btn-collapse").addEventListener("click", () => {
      SIDEBAR_EL.classList.toggle("collapsed");
      PoppersInstance.closePoppers();
      if (SIDEBAR_EL.classList.contains("collapsed"))
        FIRST_SUB_MENUS_BTN.forEach((element) => {
          element.parentElement.classList.remove("open");
        });

      updatePoppersTimeout();
    });

    /**
     * sidebar toggle handler (on break point )
     */
    document.getElementById("btn-toggle").addEventListener("click", () => {
      SIDEBAR_EL.classList.toggle("toggled");

      updatePoppersTimeout();
    });

    /**
     * toggle sidebar on overlay click
     */
    document.getElementById("overlay").addEventListener("click", () => {
      SIDEBAR_EL.classList.toggle("toggled");
    });

    const defaultOpenMenus = document.querySelectorAll(".menu-item.sub-menu.open");

    defaultOpenMenus.forEach((element) => {
      element.lastElementChild.style.display = "block";
    });

    /**
     * handle top level submenu click
     */
    FIRST_SUB_MENUS_BTN.forEach((element) => {
      element.addEventListener("click", () => {
        if (SIDEBAR_EL.classList.contains("collapsed"))
          PoppersInstance.togglePopper(element.nextElementSibling);
        else {
          const parentMenu = element.closest(".menu.open-current-submenu");
          if (parentMenu)
            parentMenu
              .querySelectorAll(":scope > ul > .menu-item.sub-menu > a")
              .forEach(
                (el) =>
                  window.getComputedStyle(el.nextElementSibling).display !==
                  "none" && slideUp(el.nextElementSibling)
              );
          slideToggle(element.nextElementSibling);
        }
      });
    });

    /**
     * handle inner submenu click
     */
    INNER_SUB_MENUS_BTN.forEach((element) => {
      element.addEventListener("click", () => {
        slideToggle(element.nextElementSibling);
      });
    });

  </script>

  <!-- nav   -->
  <script>
    $(".profile .icon_wrap").click(function () {
      $(this).parent().toggleClass("active");
      $(".notifications").removeClass("active");
    });

    $(".notifications .icon_wrap").click(function () {
      $(this).parent().toggleClass("active");
      $(".profile").removeClass("active");
    });

    $(".show_all .link").click(function () {
      $(".notifications").removeClass("active");
      $(".popup").show();
    });

    $(".close, .shadow").click(function () {
      $(".popup").hide();
    });
  </script>
  <!-- nav  end  -->

  <!-- chart start  -->
  <script src="jquery/anychart-base.min.js"></script>
  <script>
    anychart.onDocumentReady(function () {

      // add data
      var data = [
        ["Jan", 14, 4],
        ["Feb", 10, 5],
        ["Mar", 12, 8],
        ["Apr", 15, 5],
        ["May", 12, 6],
        ["June", 13, 10],
        ["July", 15, 12],
        ["Aug", 16, 10],
        ["Sep", 20, 14],


      ];

      // create a data set
      var dataSet = anychart.data.set(data);

      // map the data for all series
      var firstSeriesData = dataSet.mapAs({ x: 0, value: 1 });
      var secondSeriesData = dataSet.mapAs({ x: 0, value: 2 });
      var thirdSeriesData = dataSet.mapAs({ x: 0, value: 3 });

      // create a stepped line chart
      var chart = anychart.stepLine();

      // create the series and name them
      var firstSeries = chart.stepLine(firstSeriesData);
      firstSeries.name("Roger Federer");
      var secondSeries = chart.stepLine(secondSeriesData);
      secondSeries.name("Rafael Nadal");


      // add a legend and customize it
      chart.legend().enabled(true).fontSize(14).padding([10, 0, 10, 0]);

      // add a title and customize it


      // name the axes
      chart.yAxis().title("Titles won");
      chart.xAxis().title("Year");

      // customize the series markers
      firstSeries.hovered().markers().type("circle").size(4);
      secondSeries.hovered().markers().type("circle").size(4);


      // turn on crosshairs and remove the y hair
      chart.crosshair().enabled(true).yStroke(null).yLabel(false);

      // change the tooltip position
      chart.tooltip().positionMode("point");
      chart.tooltip().position("right").anchor("left-center").offsetX(5).offsetY(5);

      // customize the series stroke in the normal state
      firstSeries.normal().stroke("#7b60a2", 2.5);
      secondSeries.normal().stroke("#db7346", 2.5);


      // specify where to display the chart
      chart.container("container");

      // draw the resulting chart
      chart.draw();

    });
  </script>
  <!-- chart end  -->

  <!-- chart 2 start  -->
  <script>
    Chart.defaults.global.defaultFontFamily = "Lato";

    var horizontalBarChart = new Chart(horizontalBarChartCanvas, {
      type: 'horizontalBar',
      data: {
        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun "],
        datasets: [{
          data: [2000, 4000, 6000, 8000, 10000, 12000, 14000],
          backgroundColor: ["#73BFB8", "#73BFB8", "#73BFB8", "#73BFB8", "#73BFB8", "#73BFB8", "#73BFB8"],
        }]
      },
      options: {
        tooltips: {
          enabled: false
        },
        responsive: true,
        legend: {
          display: false,
          position: 'bottom',
          fullWidth: true,
          labels: {
            boxWidth: 10,
            padding: 50
          }
        },
        scales: {
          yAxes: [{
            barPercentage: 0.75,
            gridLines: {
              display: true,
              drawTicks: true,
              drawOnChartArea: false
            },
            ticks: {
              fontColor: '#555759',
              fontFamily: 'Lato',
              fontSize: 11
            }

          }],
          xAxes: [{
            gridLines: {
              display: true,
              drawTicks: false,
              tickMarkLength: 5,
              drawBorder: false
            },
            ticks: {
              padding: 5,
              beginAtZero: true,
              fontColor: '#555759',
              fontFamily: 'Lato',
              fontSize: 11,
              callback: function (label, index, labels) {
                return label / 1000;
              }

            },


          }]
        }
      }
    });


  </script>
  <!-- chart 2 end  -->

  <!-- radial start  -->
  <script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

/* Set themes */
am4core.useTheme(am4themes_animated);

/* Create chart instance */
var chart = am4core.create("chartdiv", am4charts.RadarChart);

/* Add data */
chart.data = [{
  "country": "Lithuania",
  "value1": 501,
  "value2": 250
}, {
  "country": "Czech Republic",
  "value1": 301,
  "value2": 222
}, {
  "country": "Ireland",
  "value1": 266,
  "value2": 179
}, {
  "country": "Germany",
  "value1": 165,
  "value2": 298
}, {
  "country": "Australia",
  "value1": 139,
  "value2": 299
}, {
  "country": "Austria",
  "value1": 336,
  "value2": 185
}, {
  "country": "UK",
  "value1": 290,
  "value2": 150
}, {
  "country": "Belgium",
  "value1": 325,
  "value2": 382
}, {
  "country": "The Netherlands",
  "value1": 40,
  "value2": 172
}];

/* Create axes */
var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.labels.template.horizontalCenter = "right";
categoryAxis.renderer.labels.template.location = 1;
categoryAxis.renderer.labels.template.fillOpacity = 0.5;

var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());

/* Create and configure series */
var series1 = chart.series.push(new am4charts.RadarColumnSeries());
series1.dataFields.valueX = "value1";
series1.dataFields.categoryY = "country";
series1.name = "Sales";
series1.strokeWidth = 0;
series1.columns.template.tooltipText = "Series: {name}\nCategory: {categoryX}\nValue: {valueY}";
series1.sequencedInterpolation = true;
series1.sequencedInterpolationDelay = 100;
series1.stacked = true;

var series2 = chart.series.push(new am4charts.RadarColumnSeries());
series2.dataFields.valueX = "value2";
series2.dataFields.categoryY = "country";
series2.name = "Marketing";
series2.strokeWidth = 0;
series2.columns.template.tooltipText = "Series: {name}\nCategory: {categoryX}\nValue: {valueY}";
series2.sequencedInterpolation = true;
series2.sequencedInterpolationDelay = 100;
series2.stacked = true;

/* Add legend */
chart.legend = new am4charts.Legend();

/* Add cursor */
chart.cursor = new am4charts.RadarCursor();

/* Add inner radius */
chart.innerRadius = am4core.percent(20);
  </script>

</body>

</html>