<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>

<body>
    <div align="center">
        <h1>add user</h1>
        <form action="/adduser" method="post">
            <table border="1" cellpadding="5">
                <thead>
                    <tr>
                        <td>name</td>
                        <td><input type="text" name="username"></td>
                    </tr>
                    <tr>
                        <td>phone</td>
                        <td><input type="text" name="userphone"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit"></td>
                    </tr>
                </thead>
            </table>
        </form>
        <a href="/">view</a>
    </div>

</body>

</html>