<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h1>login page</h1>

        <form action="/userdata" method="post">
            <table border="1">
                <thead>
                    <tr>
                        <td>name</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit"></td>
                    </tr>
                </thead>
            </table>
        </form>
        <a href="/view">view</a>
    </div>
</body>

</html>